name: DAST Scanner Workflow

on:
  workflow_call:
    inputs:
      staging_url:
        required: true
        type: string
        description: 'URL serwera Staging do skanowania DAST.'

jobs:
  run_dast:
    name: Run OWASP ZAP Baseline Scan
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: ${{ inputs.staging_url }}
          fail_action: false
          allow_issue_writing: false
          cmd_options: "-a"
          artifact_name: ZAPReports
          
      - name: DAST Result Check
        run: |
          echo "Skan DAST zakończony pomyślnie."